<div class="containerBody">
  <form [formGroup]="formExchange">
    <div class="containerInputs">
      <div class="groupInputs">
        <input type="number" formControlName="inputToConvert">
        <select (change)="calculateExchange()" formControlName="currencyToConvert">
          <option *ngFor="let item of currency" [value]="item.ISO">{{ item.ISO }}</option>
        </select>
      </div>
      <div class="groupInputs">
          <input type="number" formControlName="inputConverted">
          <select (change)="calculateExchange()" formControlName="currencyConverted">
            <option *ngFor="let item of currency" [value]="item.ISO">{{ item.ISO }}</option>
          </select>
      </div>
    </div>
    <div class="containerButton">
      <input (click)="calculateExchange()" class="calculateButton" type="button" value="CALCULATE">
    </div>
  </form>
</div>