.avatar {
    border-radius: 50%;
    background-color: lightgray;
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
}

@media (max-width: 480px) {
    .avatar {
        width: 40px;
        height: 40px;
    }
}